<div>
    <li class="item item-large flexrow">
        <div>
            <button class="attack" data-roll-type="withering"><i data-roll-type="withering"
                    class="fas fa-swords weapon-icon"></i>{{localize
                "Ex3.Withering"}}</button>
        </div>
        <div>
            <button class="attack" data-roll-type="decisive"><i data-roll-type="decisive"
                    class="fas fa-axe-battle weapon-icon"></i>{{localize
                "Ex3.Decisive"}}</button>
        </div>
        <div>
            <button class="attack" data-roll-type="gambit"><i data-roll-type="gambit"
                    class="fas fa-fist-raised weapon-icon"></i>{{localize
                "Ex3.Gambit"}}</button>
        </div>
    </li>
</div>